* {
  margin: 0;
  padding: 0;
  color: #2e2e2e;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 24px;
  background-color: #fff;
  box-sizing: border-box;
  z-index: 1000;
  & .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &_logo {
      &_images {
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        &_logo {
          width: 50px;
          height: 45px;
        }
        &_text {
          width: 85px;
          height: 31.59px;
          margin-bottom: 5px;
        }
      }
    }
    &_nav {
      &_list {
        display: flex;
        gap: 24px;
        font-size: 14px;

        &_item {
          position: relative;
          z-index: 1;

          &::before {
            position: absolute;
            content: '';
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 15px;
            background-color: #005344;
            padding: 6px;
            border-radius: 8px;
            z-index: -1;
            opacity: 0;
            transition: opacity 0.3s ease;
          }

          &:hover {
            color: #fff;

            &::before {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}

#wrapper {
  & .content {
    & .fv {
      // margin-top: 93px;
      // width: 100%;
      // height: calc(100vh - 93px);
      // object-fit: cover;
      // object-position: bottom;
      // display: block;
      // margin-bottom: 80px;
      // background-color: #f9f9f9;
      & img {
        margin-top: 93px;
        width: 100%;
        height: calc(100vh - 93px);
        object-fit: cover;
        object-position: bottom;
        display: block;
        margin-bottom: -48px;
        background-color: #005344;
      }
    }
    &_padding {
      padding: 0 65px;
    }

    &_title {
      font-size: 28px;
      font-weight: 400;
      margin-left: -2px;
      margin-bottom: 36px;
      &_en {
        margin-top: 120px;
        font-size: 14px;
        // font-weight: 700;
        margin-bottom: -5px;
      }
    }
    & .about {
      & img {
        width: 100%;
        height: 420px;
        object-fit: cover;
        object-position: bottom;
      }
      &_text {
        margin-top: 36px;
      }
    }
    & .facility {
      & .f-switch {
        & .floor {
          display: flex;
          margin-bottom: 20px;
          &-1 {
            margin-right: 5px;
            cursor: pointer;
          }
          &-2 {
            margin-left: 5px;
            cursor: pointer;
          }
          & .slash {
            cursor: default;
          }
        }
      }
      & .f-facility {
        &-items {
          max-width: 100%;
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          gap: 36px;
          & .item {
            &-title {
            }
            &-img {
              object-fit: cover;
              object-position: bottom;
              width: 100%;
              transition: transform 0.3s ease;
              &:hover {
                transform: scale(1.025);
              }
            }
          }
        }
        & img {
          cursor: pointer;
          border-radius: 2px;
        }
      }
      /* popup */
      .popup {
        position: fixed;
        top: 93px;
        left: 0;
        width: 100%;
        height: calc(100% - 93px);
        background: rgba(0, 0, 0, 0.8);
        display: flex;
        justify-content: center;
        align-items: center;
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.3s ease, visibility 0.3s ease;

        &-content {
          background: #fff;
          padding: 36px;
          border-radius: 8px;
          text-align: center;
          position: relative;
          max-width: 100%;
          width: 800px;
          max-height: 90%;

          & img {
            max-width: calc(100% - 30px);
            max-height: 60vh;
            margin-bottom: 10px;
            border-radius: 4px;
            object-fit: contain;
          }
        }
        &-text {
          margin-top: 10px;
          font-size: 14px;
          color: #333;
          max-width: 80%;
          width: 100%;
          margin: 10px auto 0;
          text-align: center;
          word-wrap: break-word;
          white-space: normal;
        }
      }

      .popup.visible {
        visibility: visible;
        opacity: 1;
        z-index: 999;
      }

      .popup-content .close {
        position: absolute;
        top: 10px;
        right: 15px;
        cursor: pointer;
        font-size: 24px;
      }
    }
    & .faq {
      &_q {
        font-size: 20px;
        color: #005344;
      }
      &_a {
        margin: 10px 0 45px 3px;
        font-size: 16px;
        position: relative;
        &::after {
          position: absolute;
          content: '';
          bottom: -24px;
          left: 0;
          background-color: #d9d9d9;
          width: 100%;
          height: 1px;
        }
      }
    }
    & .access {
      &_text {
        margin-bottom: 36px;
      }
      & .tel {
        color: #005344;
        text-decoration: underline;
      }
    }
    & .p_text {
      font-size: 16px;
    }
  }
  .map {
    margin-top: 100px;
    &--gray {
      filter: grayscale(100%);
      transition: filter 0.3s ease;
      &:hover {
        filter: grayscale(0%);
      }
    }
  }
  iframe {
    position: relative;
    z-index: 1;
  }
}

#footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  & img {
    width: 250px;
    margin: 50px 0 30px 9px;
  }
  & small {
    margin-bottom: 10px;
  }
}
